@import './variables';

.inputContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 18vh;
  background-color: $mainColor;
  color:$mainText;
  padding: 2rem;
  // & > div {
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
  // }
  // & .submitButton {
  //   padding-top: 1rem;
  // }
}

.radioBoat {
  display: flex;
  flex-direction: column;

  & > label {
    padding: 0 1rem;
  }
}

.legionnaireBlock {
  display: flex;
  justify-content: space-evenly;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}

.flandersBlock {
  display: flex;
  justify-content: space-evenly;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}

.submitButton {
  display: flex;
  flex-direction: row;
  & Button {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .inputContainer {
    max-width: 100vw;
    display: flex;

    background-color: aqua;
    height: 25vh;
    max-height: 25vh;
    font-size: calc(7px + 0.5vh + 0.5vw);
  }

.boatBlock {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  // & > div {
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
  // }
}

.legionnaireBlock, .flandersBlock {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  & > div {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  & .submitButton {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    font-size: calc(7px + 0.5vh + 0.5vw);
    & Button {
      justify-content: center;
      text-align: center;
      padding: 0.5rem 2rem 0.5 1rem;
      font-size: calc(7px + 0.5vh + 0.5vw);
    }
  }
}
}